[includeIf "gitdir:~/workspace/garena.com/"]
	path = ~/.gitconfig-garena

[includeIf "gitdir:~/workspace/github.com/"]
	path = ~/.gitconfig-github
 
[url "gitlab@git.garena.com:"]
   insteadOf = https://git.garena.com/
[pull]
	rebase = false
